@using SCMS.Resource
@model SCMS.Model.OrderRequest
@{
    string updateTarget = Model.FromPP ? "requestDiv" : "popup-page";
    string loadingElement = Model.FromPP ? "loading" : "popup-loading";
    string onbegin = Model.FromPP ? "" : string.Format("ShowDialogue('{0}')", Resources.OrderRequest_AddNewItem4OR_AddNewItem);
    string onsuccess = Model.FromPP ? "" : "disablebutton('orbutton');ClearFormById('#' + 'frmORItem');CenterPopup();";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = updateTarget,
        LoadingElementId = loadingElement,
        HttpMethod = "Post",
        Url = Url.Action("SaveOrderRequest"),
        OnBegin = onbegin,
        OnSuccess = onsuccess
    };
}
<script src="@Url.Content("~/Scripts/js/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="partialViewCard">
    <div class="partialViewCardHeader"><h3>@Resources.OrderRequest_LoadOrderRequest_NewOrderRequest</h3></div>
    <br />
    @using (Ajax.BeginForm(null, null, ajaxOpts, new { @class = "form" }))
    {
        @Html.ValidationSummary(true)
            
        <table width="98%" align="center" cellpadding="0">
            <tr>
                <th align="center" width="33%">
                    @Resources.Global_String_RefNo
                </th>
                <th align="center" colspan="2">
                    @Resources.Global_String_Date
                </th>
                <th align="center" colspan="2">
                    @Resources.Global_String_ORCurrency
                </th>
            </tr>
            <tr>
                <td align="center">
                    @Html.TextBoxFor(m => m.RefNumber, new { @readonly = "readonly" })
                    @Html.HiddenFor(m => m.FromPP)
                </td>
                <td align="center" colspan="2">
                    @Model.OrderDate.Value.ToString("dd/MM/yyyy")
                    @Html.HiddenFor(m => m.OrderDate)
                </td>
                <td align="center" colspan="2">
                    @Html.DropDownListFor(x => x.CurrencyId, Model.Currencies, Resources.Global_String_PleaseSelect, new { @id = "currencyId" })
                    @Html.ValidationMessageFor(x => x.CurrencyId, Resources.Global_String_Required)
                </td>
            </tr>
            <tr>
                <th align="center">
                    @Resources.Global_String_ProjectProgramme
                </th>
                <th align="center" colspan="2">
                    @Resources.Budget_CategoryList_ProjectNo
                </th>
                <th align="center" colspan="2">
                    @Resources.Budget_CategoryList_Donor
                </th>
            </tr>
            <tr>
                <td align="center">
                    @Html.DropDownListFor(x => x.ProjectId, Model.Projects, Resources.Global_String_PleaseSelect, new { @id = "dplProject", onchange = "javascript:selectedIndexChangePONos(this)" })
                    @Html.ValidationMessageFor(x => x.ProjectId, Resources.Global_String_Required)
                </td>
                <td align="center" colspan="2">
                    <div id="ProjectNoDiv">
                        @Html.DropDownListFor(x => x.ProjectDonorId, Model.ProjectDonors, Resources.Global_String_PleaseSelect, new { @id = "dplProNo", onchange = "javascript:GetDonor(this)" })
                        @Html.ValidationMessageFor(x => x.ProjectDonorId, Resources.Global_String_Required)</div>
                </td>
                <td align="center" colspan="2">
                    <div id="donorDiv" style="font-size: 12px;">
                        @ViewBag.Donor
                    </div>
                </td>
            </tr>
            <tr>
                <th align="center">
                    @Resources.OrderRequest_EditOrderRequest_RequestedDeliveryDate
                </th>
                <th align="center" colspan="2">
                    @Resources.OrderRequest_EditOrderRequest_RequestedDeliveryDestination
                </th>
                <th align="center" colspan="2">
                    @Resources.OrderRequest_EditOrderRequest_FinalDeliveryDestination
                </th>
            </tr>
            <tr>
                <td align="center">
                    @Html.EditorFor(m => m.DeliveryDate)
                    @Html.ValidationMessageFor(m => m.DeliveryDate, Resources.Global_String_Required)
                </td>
                <td align="center" width="32%" id="reqDelDiv">
                    @Html.DropDownListFor(x => x.RequestedDestinationId, Model.Locations, Resources.Global_String_PleaseSelect, new { id = "RequestDelivLocationID" })
                    @Html.ValidationMessageFor(x => x.RequestedDestinationId, Resources.Global_String_Required)
                </td>
                <td width="1%" title="@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress">
                    <a href="#" onclick="ShowDialogue('@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress');sendRequest('/OrderRequest/AddNewLocation4OR?final=false&otherDDSelectedId='+document.getElementById('FinalDelivLocationID').value, 'popup-page', 'popup-loading');CenterPopup();"><img src="../../Content/images/Add-Green-Button-icon.png" alt="@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress" /></a>
                </td>
                <td align="center" width="32%" id="finalDelivDiv">
                    @Html.DropDownListFor(x => x.FinalDestinationId, Model.Locations, Resources.Global_String_PleaseSelect, new { id = "FinalDelivLocationID" })
                    @Html.ValidationMessageFor(x => x.FinalDestinationId, Resources.Global_String_Required)
                </td>
                <td width="1%" title="@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress">
                    <a href="#" onclick="ShowDialogue('@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress');sendRequest('/OrderRequest/AddNewLocation4OR?final=true&otherDDSelectedId='+document.getElementById('RequestDelivLocationID').value, 'popup-page', 'popup-loading');CenterPopup();"><img src="../../Content/images/Add-Green-Button-icon.png" alt="@Resources.OrderRequest_AddNewLocation4OR_AddNewDelivAddress" /></a>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="orbutton" class="btn green" value="  @Resources.Global_String_Proceed  " />
                </td>
            </tr>
        </table>    
    }
</div>
<div id="tempLocation" style="display: none;" />
