@using SCMS.Resource
@model SCMS.Model.GoodsIssuedVoucher
@{AjaxOptions ajaxOpts = new AjaxOptions
{
    UpdateTargetId = "givDiv",
    LoadingElementId = "loading",
    HttpMethod = "Post",
    Url = Url.Action("SaveItems"),
    OnBegin = string.Format("return ValidateGIVBeforeSave({0}, '{1}')", Model.ROItems.Count, Resources.GoodsReceivedVoucher_SaveFailureMessage),
    OnSuccess = "usermsg('" + Resources.Global_String_ProcessCompleted + "');CloseDialog();",
    OnFailure = "javascript:errormsg()"
};}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="partialViewCard">
    <br />
    @using (Ajax.BeginForm(null, null, ajaxOpts, new { @class = "form", @id = "frmaddgivitem" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x=>x.Id)

        <table width="98%" align="center" id="undoRemoves" style="display: none;">
            <tr>
                <td width="100%" align="right">
                    <a href="#" onclick="UndoRemoves(@Model.ROItems.Count, '@Resources.Global_String_UndoRemove?')">@Resources.Global_String_UndoRemove</a>
                </td>
            </tr>
        </table>
        
        <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" class="cardTable">
            <tr class="grideven">
                <th></th>
                <th>@Resources.Global_String_ItemName</th>
                <th>@Resources.Global_String_UnitsOfMeasure</th>
                <th>@Resources.Global_String_QtyReleased</th>
                <th>@Resources.GoodsReceivedNote_DownloadTemplate_PreviouslyReceived</th>
                <th>@Resources.Global_String_QtyReceived</th>
                <th>@Resources.Global_String_Comments</th>
                <th></th>
            </tr>
            @{string qtyReleased = "", prevRecu = "", qtyReceived = "", isRemoved = "", rowId = "";}
            @for (int i = 0; i < Model.ROItems.Count(); i++)
            {
                int ss = i + 1;
                qtyReleased = "QtyReleased" + i;
                prevRecu = "PrevRecu" + i;
                qtyReceived = "QtyReceived" + i;
                isRemoved = "IsRemoved" + i;
                rowId = "Row" + i;    
                <tr class="gridodd" id="@rowId">
                    <td style="width: 5%; text-align: center;">
                        @ss
                    </td>
                    <td style="width: 25%;">
                        @Model.ROItems[i].ItemName
                        @Html.HiddenFor(x => x.ROItems[i].ROItemId)
                    </td>
                    <td style="width: 10%;">
                        @Model.ROItems[i].Unit
                    </td>
                    <td style="width: 12%; text-align: right;">
                        @Model.ROItems[i].QTYReleased
                        @Html.HiddenFor(x => x.ROItems[i].QTYReleased, new { id = qtyReleased})
                    </td>
                    <td style="width: 12%; text-align: right;">
                        @Model.ROItems[i].PreviouslyReceived
                        @Html.HiddenFor(x => x.ROItems[i].PreviouslyReceived, new { id = prevRecu})
                    </td>
                    <td style="width: 12%; text-align: right;">
                        @Html.TextBoxFor(m => m.ROItems[i].QTYReceived, new { id = qtyReceived, @class = "numericTb", onblur = "ValidateGIVQtyReceived(this, " + i + ")" })
                        @Html.ValidationMessageFor(m => m.ROItems[i].QTYReceived, Resources.Global_String_Required)
                    </td>
                    <td style="width: 16%;">
                        @Html.TextBoxFor(m => m.ROItems[i].Remarks, new { @class = "comments" })
                        @Html.ValidationMessageFor(m => m.ROItems[i].Remarks)
                    </td>
                    <td style="width: 8%; text-align: center;">
                        <a href="#" onclick="Javascript:RemoveRow('@rowId', @i, '@Resources.Global_String_ConfirmRemove?');">
                            @Html.HiddenFor(m => m.ROItems[i].IsRemoved, new { id = isRemoved })
                            @Resources.Global_String_Remove
                        </a>

                        @*@Ajax.ActionLink(Resources.Global_String_Remove, "RemoveItem", new { @roItemId = Model.ROItems[i].ROItemId,@ViewName="AddItems" }, new AjaxOptions
                   {
                       UpdateTargetId = "givDiv",
                       LoadingElementId = "loading",
                       Confirm = string.Format(Resources.Global_String_ConfirmDelete, @Model.ROItems[i].ItemName),
                       OnSuccess = "ClearGIV();",
                       OnFailure = "javascript:errormsg()"

                   })*@
                    </td>
                </tr>
            }

        </table>
         <br />
        <table width="98%" align="center">
            <tr>
                <td align="center" width="100%">
                    <input type="submit" class="btn green" value="  @Resources.Global_String_Save  " />
                </td>
            </tr>
        </table>
    }
    <br />
</div>
