@using SCMS.Resource
@using SCMS.UI.Areas.Admin.Models.Role
@model IEnumerable<RoleModel>
@{
    ViewBag.Title = Resources.Global_String_RolesList;
}
<div class="partialViewCard">
    <div class="partialViewCardHeader">
        <h3>@Resources.Global_String_RolesList</h3>
    </div>
    <br />
    @if (Model.IsNotNullOrEmpty())
    {
        <div id="tablewrapper">
            <div id="tableheader">
                <div class="search">
                    <b>@Resources.Global_String_SearchBy:</b><br />
                    <select id="columns" onchange="sorter.search('query')">
                    </select>
                    <input type="text" id="query" onkeyup="sorter.search('query')" />
                </div>
                <span class="details">
                    <div>
                        @Resources.Global_String_Records <span id="startrecord"></span>-<span id="endrecord"></span> @Resources.Global_String_Of <span id="totalrecords">
                        </span>
                    </div>
                </span>
            </div>
            <br /><br /><br />
        <table width="98%" align="center" cellspacing="0" cellpadding="0" border="0" id="table" class="tinytable">
            <thead>
                <tr>
                    <th><h3>@Resources.Global_String_Name</h3></th>
                    <th><h3>@Resources.Role_CreateOrEdit_IsActive</h3></th>
                    <th><h3>@Resources.Role_CreateOrEdit_IsSystemRole</h3></th>
                    <th><h3>@Resources.Global_String_Manage</h3></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                        
                        <td align="left">
                            @item.Name
                        </td>
                        <td align="center">
                            @item.Active
                        </td>
                        <td align="center">
                            @item.IsSystemRole
                        </td>
                        <td align="center">
                            @Ajax.ActionLink(Resources.Global_String_Edit, "Edit", new { id = item.Id }, new AjaxOptions
                            {
                                OnBegin = string.Format("ShowDialogue('{0}:: " + item.Name + "')", Resources.Global_String_Edit),
                                UpdateTargetId = "popup-page",
                                LoadingElementId = "popup-loading",
                                Url = Url.Action("Edit", new { id = item.Id })
                            })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <div id="tablefooter">
                <div id="tablenav">
                    <div>
                        <img src="../../Content/images/pager/first.gif" width="16" height="16" alt="@Resources.Global_String_FirstPage"
                            onclick="sorter.move(-1,true)" />
                        <img src="../../Content/images/pager/previous.gif" width="16" height="16" alt="@Resources.Global_String_PreviousPage"
                            onclick="sorter.move(-1)" />
                        <img src="../../Content/images/pager/next.gif" width="16" height="16" alt="@Resources.Global_String_NextPage"
                            onclick="sorter.move(1)" />
                        <img src="../../Content/images/pager/last.gif" width="16" height="16" alt="@Resources.Global_String_LastPage"
                            onclick="sorter.move(1,true)" />
                    </div>
                    <div>
                        <select id="pagedropdown">
                        </select>
                    </div>
                    <div>
                        <a href="javascript:sorter.showall()">@Resources.Global_String_ViewAll</a>
                    </div>
                </div>
                <div id="tablelocation">
                    <div>
                        <select onchange="sorter.size(this.value)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20" selected="selected">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span>@Resources.Global_String_EntriesPerPage</span>
                    </div>
                    <div class="page">
                        @Resources.Global_String_Page <span id="currentpage"></span>@Resources.Global_String_Of <span id="totalpages"></span>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Count() < 1)
    {
        <i>@Resources.Role_ListView_NoRoles</i>
    }
    <br />
</div>
