@using SCMS.Resource
@model SCMS.Model.WarehouseRelease
@{AjaxOptions ajaxOpts = new AjaxOptions
  {
      UpdateTargetId = "popup-page",
      LoadingElementId = "popup-loading",
      HttpMethod = "Post",
      Url = Url.Action("ApproveWRO"),
      OnSuccess = "CenterPopup();LoadRequests();ReloadWRO('" + Model.Id + "');"
  };}

<div class="partialViewCard" style="max-width: 1200px; min-width: 900px">
    <div class="partialViewCardHeader"><h3>@Resources.RequestReview_String_WROApproval</h3></div>
    <br />
    @using (Ajax.BeginForm(null, null, ajaxOpts, new { @class = "form" }))
    {
        <h4 style="text-align: center;">@Model.RefNumber</h4>
        <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" style="border: 1px solid grey;
            border-collapse: collapse; padding: 5px; font-size: 12px;">
            <tr class="gridheader">
                <th>
                </th>
                <th>
                    @Resources.WarehouseReleaseOrder_String_ItemsGoodsDescription
                </th>
                <th>
                    @Resources.Global_String_UnitOfMeasure
                </th>
                <th>
                    @Resources.Global_String_SerialNo
                </th>
                <th>
                    @Resources.Global_String_AssetNo
                </th>
                <th>
                    @Resources.Global_String_Quantity
                </th>
                <th>
                    @Resources.Global_String_Comments
                </th>
            </tr>
            @{int x = 0; string rowClass = ""; int count = 0; string itemName, serialNo, AssetNo; }
            @foreach (var item in Model.WarehouseReleaseItems)
            {
                if (x % 2 == 0) { rowClass = "grideven"; }
                if (x % 2 != 0) { rowClass = "gridodd"; }
                if (item.Inventory.Item.ItemCategory.CategoryCode == "C")
                {
                    itemName = item.Inventory.Item.Name;
                    serialNo = item.Inventory.Item.SerialNumber;
                    AssetNo = Resources.Global_String_NA;
                }
                else
                {
                    itemName = item.Asset.Name;
                    serialNo = item.Asset.SerialNumber;
                    AssetNo = item.Asset.AssetNumber;
                }
                if (x >= 0) { x = x + 1; }
                count = count + 1;
                <tr class="gridodd">
                    <td style="width: 5%; text-align: center;">
                        @count
                    </td>
                    <td style="width: 25%; text-align: left;">
                        @*@item.Inventory.Item.Name*@
                        @itemName
                    </td>
                    <td style="width: 13%; text-align: center;">
                        @item.Inventory.Item.UnitOfMeasure.Code
                    </td>
                    <td style="width: 15%; text-align: center;">
                        @*@item.Inventory.Item.SerialNumber*@
                        @serialNo
                    </td>
                    <td style="width: 15%; text-align: left;">
                        @*@item.Asset.AssetNumber*@
                        @AssetNo
                    </td>
                    <td style="width: 15%; text-align: center;">
                        @item.Quantity
                    </td>
                    <td style="width: 10%; text-align: left;">
                        @item.Comments
                    </td>
                </tr>
            }
        </table>
        <br />
        <b style="font-weight: bold; font-size: 12px;">&nbsp;&nbsp;&nbsp;@Resources.Global_String_Requester</b>
        <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" class="cardTable">
            <tr class="gridheader">
                <th width="20%">@Resources.Global_String_Name</th>
                <th width="20%">@Resources.Global_String_Title</th>
                <th width="20%">@Resources.Global_String_Office</th>
                <th width="20%">@Resources.Global_String_Signature</th>
                <th width="20%">@Resources.Global_String_RequestDate</th>
            </tr>
            <tr>
                <td align="center">
                    @if (Model.Staff1 != null)
                    {
                        @Model.Staff1.Person.FirstName
                        @Html.Raw("&nbsp;")
                        @Model.Staff1.Person.OtherNames
                    }
                </td>
                <td align="center">
                    @if (Model.Staff1 != null)
                    {
                        @Model.Staff1.Designation.Name
                    }
                </td>
                <td align="center">
                    @if (Model.Staff1 != null)
                    {
                        @Model.Staff1.CountrySubOffice.Name
                    }
                </td>
                <td align="center">
                    @if (Model.Staff1 != null && Model.Staff1.Person.SignatureImage != null)
                    {
                        <img src="@Url.Action("Photo", "Person", new { id = Model.Staff1.Person.Id, area = "" })" alt="" style="max-width: 150px;" />
                    }
                </td>
                <td align="center">
                    @Model.PreparedOn.ToString("dd/MM/yyyy h:mm tt")
                </td>
            </tr>
        </table>
        <br />
        <b style="font-weight: bold; font-size: 12px;">&nbsp;&nbsp;&nbsp;@Resources.WRForm_LoadWRF_Recipient</b>
        <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" class="cardTable">
            <tr class="gridheader">
                <th width="33%">@Resources.Global_String_Name</th>
                <th width="33%">@Resources.Global_String_Title</th>
                <th width="34%">@Resources.Global_String_Office</th>
            </tr>
            <tr>
                <td align="center">
                    @if (Model.Staff2 != null)
                    {
                        @Model.Staff2.Person.FirstName
                        @Html.Raw("&nbsp;")
                        @Model.Staff2.Person.OtherNames
                    }
                </td>
                <td align="center">
                    @if (Model.Staff2 != null)
                    {
                        @Model.Staff2.Designation.Name
                    }
                </td>
                <td align="center">
                    @if (Model.Staff2 != null)
                    {
                        @Model.Staff2.CountrySubOffice.Name
                    }
                </td>
            </tr>
        </table>
        <br />
        <table width="98%" align="center">
            <tr>
                <td width="50%" align="right">
                    @Html.HiddenFor(w => w.Id)
                    <input type="submit" class="btn tertiary" value="@Resources.Global_String_Approve" />
                </td>
                <td width="50%">
                    <input type="button" class="btn tertiary" value="@Resources.Global_String_Reject" onclick="sendRequest('/RequestReview/LoadRejectWRO/@Model.Id', 'popup-page', 'popup-loading'); CenterPopup();" />
                </td>
            </tr>
        </table>
    }
    <br />
</div>
