@using SCMS.Resource
@model SCMS.Model.GoodsIssuedVoucher
<div class="partialViewCard">
    <div class="partialViewCardHeader">
        <h3>
            @Resources.GoodsIssuedVoucher_Index_GoodsIssuedVoucher:: @Model.RefNumber</h3>
    </div>
    @if (!Model.IsSubmitted)
    {
        <center>
                @Ajax.ActionLink(Resources.GoodsIssuedVoucher_ViewGIVDetails_EditGIV, "LoadEditGIV", new { GIVId = Model.Id }, new AjaxOptions
                {
                    OnBegin = "ShowDialogueOR('" + Resources.GoodsIssuedVoucher_ViewGIVDetails_EditGIV + "')",
                    UpdateTargetId = "popup-page",
                    LoadingElementId = "popup-loading",
                    OnSuccess = "CenterPopup"
                }) | 
                @Ajax.ActionLink(Resources.GoodsIssuedVoucher_ViewGIVDetails_DeleteGIV, "DeleteGIV", new { GIVId = Model.Id }, new AjaxOptions
                {
                    UpdateTargetId = "givDiv",
                    LoadingElementId = "loading",
                    Confirm = string.Format(Resources.Global_String_ConfirmDelete, Model.RefNumber)
                })
            </center>
    }
    else
    {
        <br />
    }

    <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" class="cardTable">
        <tr>
            <th class="gridheader" width="13%">
                @Resources.Global_String_Warehouse
            </th>
            <td width="20%">
                @Model.WarehouseRelease.WareHouse.Name
            </td>
            <th class="gridheader" width="13%">
                @Resources.Global_String_Date
            </th>
            <td width="20%">
                @Model.PreparedOn.ToShortDateString()
            </td>
            <th class="gridheader" width="13%">
                @Resources.WayBill_LoadWB_Consignee
            </th>
            <td width="20%">@Model.Consignee </td>
        </tr>
        <tr>
            <th class="gridheader">
                @Resources.WRForm_LoadWRF_WRFNo
            </th>
            <td>
                @Model.WarehouseRelease.RefNumber
            </td>
            <th class="gridheader">
                @Resources.WayBill_ViewWBDetails_VehicleRegNo
            </th>
            <td>
                @Model.TransporterVehiclePlateNo
            </td>
            <th class="gridheader">
                @Resources.WayBill_LoadWB_WBNo
            </th>
            <td>@Model.WaybillNo </td>
        </tr>

    </table>
    <br />
    @if (!Model.IsSubmitted)
    { <div style="width: 98%;">
        &nbsp;&nbsp;&nbsp;
        @Ajax.ActionLink(Resources.Global_String_AddItem, "AddItems", new { givId = Model.Id, roId = Model.WareHouseReleaseId }, new AjaxOptions
       {
           OnBegin = string.Format("ShowDialogue('{0}')", Resources.Global_String_AddItem),
           UpdateTargetId = "popup-page",
           LoadingElementId = "popup-loading",
           OnSuccess = "CenterPopup(); ClearForm();"
       })
    </div>
    }
    <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" style="border: 1px solid grey; border-collapse: collapse; padding: 5px; font-size: 12px;">
        <tr class="gridheader">
            <th></th>
            @*<th>
                @Resources.Global_String_ORNo
            </th>*@
            <th>
                @Resources.Global_String_Item
            </th>
            <th>
                @Resources.Global_String_Unit
            </th>
            <th>
                @Resources.Global_String_QtyRequested
            </th>
            <th>
                @Resources.Global_String_QtyIssued
            </th>
            <th>
                @Resources.Global_String_Comments
            </th>
            @if (!Model.IsSubmitted)
            {  <th>
                @Resources.Global_String_Manage
            </th>
            }
        </tr>
        @{int count = 0;  }
        @foreach (var item in Model.GoodsIssuedVoucherItems)
        {
            count = count + 1;
            <tr class="gridodd">
                <td style="width: 5%; text-align: center;">
                    @count
                </td>
                @*<td style="width: 23%; text-align: left;"></td>*@
                <td style="width: 27%; text-align: left;">
                    @item.WarehouseReleaseItem.Inventory.ItemName
                </td>
                <td style="width: 10%; text-align: left;">
                    @item.WarehouseReleaseItem.Inventory.Item.UnitOfMeasure.Code
                </td>
                <td style="width: 15%; text-align: right;">
                    @item.WarehouseReleaseItem.Quantity
                </td>
                <td style="width: 15%; text-align: right;">
                    @item.QTYDelivered
                </td>
                <td style="width: 20%; text-align: left;">
                    @item.Remarks
                </td>
                @if (!Model.IsSubmitted)
                {
                    <td>

                        @Ajax.ActionLink(Resources.Global_String_Remove, "DeleteGivItem", new { @givItemId = item.Id, @givId = Model.Id }, new AjaxOptions
                   {
                       UpdateTargetId = "givDiv",
                       LoadingElementId = "loading",
                       Confirm = string.Format(Resources.Global_String_ConfirmDelete, @item.WarehouseReleaseItem.Inventory.ItemName),
                       OnSuccess = "usermsg('" + Resources.Global_String_ProcessCompleted + "');",
                       OnFailure = "javascript:errormsg()"

                   })
                    </td>
                }
            </tr>
        }
    </table>
    <br />
    <table width="98%" align="center" cellspacing="0" cellpadding="0" border="1" class="cardTable">
        <tr class="gridheader">
            <td colspan="2">@Resources.Global_String_IssuedBy</td>
            <td colspan="2">@Resources.Global_String_ReceivedBy</td>
        </tr>
        <tr>
            <td>@Resources.Global_String_Name</td>
            <td>@if (Model.Staff != null)
                {
                @Model.Staff.StaffName
                }</td>
            <td>@Resources.Global_String_Name</td>
            <td>@if (Model.Staff1 != null)
                {
                @Model.Staff1.StaffName
                }</td>
        </tr>
        <tr>
            <td>@Resources.Global_String_Signature</td>
            <td>@if (Model.Staff != null && Model.Staff.Person.SignatureImage != null)
                {
                <img src="@Url.Action("Photo", "Person", new { id = Model.Staff.Person.Id, area = "" })" alt="" style="max-width: 80px;" />
                }</td>
            <td>@Resources.Global_String_Signature</td>
            <td>@if (Model.Staff1 != null && Model.Staff1.Person.SignatureImage != null)
                {
                <img src="@Url.Action("Photo", "Person", new { id = Model.Staff.Person.Id, area = "" })" alt="" style="max-width: 80px;" />
                }</td>
        </tr>
        <tr>
            <td>@Resources.Global_String_Stamp</td>
            <td colspan="3"></td>
        </tr>
    </table>
    <br />
    @if (!Model.IsSubmitted && Model.GoodsIssuedVoucherItems.Count > 0)
    {
        <table width="98%" align="center">
            <tr>
                <td align="right" width="100%">
                    <input type="button" class="btn btn-primary" value="  @Resources.Global_String_Submit  " onclick="if(confirm('@Resources.Global_String_Submit?')){sendRequest('SubmitGIV/@Model.Id    ', 'givDiv', 'loading');}" />
                </td>
            </tr>
        </table>
    }
    else if(Model.IsSubmitted)
    {
        <table width="98%" align="center">
            <tr>
                <td align="center" width="100%">
                    <a class="btn btn-primary"  href="@Url.Action("GIV", "PDFReports", new { area = "Reports", refNumber = @Model.RefNumber })" target="_blank">
            @Resources.Budget_ViewBudget_DownloadPdf</a>
                </td>
            </tr>
        </table>        
    }
    <br />
</div>
<br />
<p>
    @Html.ActionLink(Resources.Global_String_BackToList, "Index")
</p>
