@using SCMS.Resource
@{
    ViewBag.Title = Resources.Global_String_ProcurementManagementReports + " - " + Resources.Global_String_SupplyChainManagementSystem;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/js/jquery-1.7.2.min.js")" type="text/javascript"></script>
<div id="InventoryMain" class="contentMain">
    <div class="contentHeader">
        <div class="headerText">
            <h3 class="title-left">
                @Resources.Global_String_Procurement
            </h3>
        </div>
        <div style="font-size: 13px; text-align: left;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_ViewORs, "ViewORequests", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"
                       })
                    </td>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_ViewPOOverview, "POrderOverview", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"
                       })
                    </td>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_GeneralProcurement, "GeneralProcument", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"

                       })
                    </td>
                </tr>
                <tr>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_ORBudgetLines, "ViewORequestDetails", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"

                       })
                    </td>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_POBudgetLines, "POBudgeLines", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"

                       })
                    </td>
                    <td class="arrowLink">
                        @Ajax.ActionLink(Resources.ProcurementReports_Index_AssetProcurement, "AssetProcument", new { area = "Reports" }, new AjaxOptions
                       {
                           UpdateTargetId = "ProcurContentDiv",
                           LoadingElementId = "loading"

                       })
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div id="loading" style="display: none; color: Blue; font-weight: bold;">
        <img src="../../Content/images/loading_indicator.gif" alt="@Resources.Global_String_Processing" />
    </div>
    <div id="ProcurContentDiv" style="padding-left: 2px;">
        <!-- Content goes here-->
    </div>
</div>
