@using SCMS.Resource
@model SCMS.UI.Models.DocsDashBoard
<div>
    <table width="100%" align="center" cellspacing="0" cellpadding="5" border="1" style="border: 1px solid grey;
        border-collapse: collapse; padding: 5px; font-size: 12px;">
        <tr class="gridheader" style="font-weight:bold;">
            <td>
                @Resources.Dashboard_DocsDashboard_Document
            </td>
            <td>
                @Resources.Dashboard_DocsDashboard_Created
            </td>
            <td>
                @Resources.Dashboard_DocsDashboard_Approved
            </td>
            <td>
                @Resources.Dashboard_DocsDashboard_OnGoing
            </td>
            <td>
                @Resources.Dashboard_DocsDashboard_TotalValue
            </td>
        </tr>
        <tr>
            <td>
                @Resources.Global_String_OrderRequest
            </td>
            <td>
                @Model.OrCreated
            </td>
            <td>@Model.OrApproved
            </td>
            <td>@Model.OrOngoing
            </td>
            <td>
                @Model.OrTotalValue.ToString("##,##0.00")
            </td>
        </tr>
        <tr>
            <td>
                @Resources.Global_String_TenderAnalysis
            </td>
            <td>
                @Model.TaCreated
            </td>
            <td>
                @Model.TaApproved
            </td>
            <td>
                @Model.TaOngoing
            </td>
            <td>
                @Model.TaTotalValue.ToString("##,##0.00")
            </td>
        </tr>
        <tr>
            <td>
                @Resources.Global_String_PurchaseOrder
            </td>
            <td>
                @Model.PoCreated
            </td>
            <td>
                @Model.PoApproved
            </td>
            <td>
                @Model.TaOngoing
            </td>
            <td>
                @Model.TaTotalValue.ToString("##,##0.00")
            </td>
        </tr>
    </table>
</div>
