@using SCMS.CoreBusinessLogic.NotificationsManager
@using SCMS.Resource
@model IEnumerable<SCMS.Model.Approver>
@if (Model != null)
{    
    <div id="tabs" class="tabsShadow">
	    <ul>
		    <li><a href="#tabs-1">@Resources.Global_String_OR</a></li>
            <li><a href="#tabs-2">@Resources.Global_String_PO</a></li>
		    <li><a href="#tabs-3">@Resources.Global_String_RFP</a></li>
		    <li><a href="#tabs-4">@Resources.Global_String_GRN</a></li>
		    <li><a href="#tabs-5">@Resources.Global_String_WRN</a></li>
            <li><a href="#tabs-6">@Resources.Global_String_CC</a></li>
            <li><a href="#tabs-7">@Resources.Approver_ApproverList_FinanceLimit</a></li>
            <li><a href="#tabs-8">@Resources.Global_String_Parameters</a></li>
	    </ul>
	    <div id="tabs-1">
            <!-- ORDER REQUEST -->
            <h4 style="text-align:center">@Resources.Global_String_OrderRequest.ToUpper()</h4>
            <center>
                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                {                    
                    @Ajax.ActionLink("[" + Resources.Global_String_AddNew + "]", "Index", new { id = NotificationHelper.orCode }, new AjaxOptions
               {
                   OnBegin = string.Format("ShowDialogue('{0}')", Resources.Approver_ApproverList_NewApproverPopup),
                   UpdateTargetId = "popup-page",
                   LoadingElementId = "popup-loading",
                   Url = Url.Action("CreateApprover/" + NotificationHelper.orCode),
                   OnSuccess = "CenterPopup"
               })
                }
            </center>
		    @if (Model.Count() > 0)
      {                
                <b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Approval</b>                
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Approver</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.orCode && item.ActionType == NotificationHelper.approvalCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteApprover, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(0);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
                <br /><b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Review</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Reviewer</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.orCode && item.ActionType == NotificationHelper.reviewCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteReviewer, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(0);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
                <br /><b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Authorization</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Authorizer</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.orCode && item.ActionType == NotificationHelper.authorizationCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteAuthorizer, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(0);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
      }
	    </div>
	    <div id="tabs-2">
		    <!-- PURCHASE ORDER -->
            <h4 style="text-align:center">@Resources.Global_String_PurchaseOrder.ToUpper()</h4>
                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                {                    
                    <center>
                        @Ajax.ActionLink("[" + Resources.Global_String_AddNew + "]", "Index", new { id = NotificationHelper.poCode }, new AjaxOptions
                   {
                       OnBegin = string.Format("ShowDialogue('{0}')", Resources.Approver_ApproverList_NewApproverPopup),
                       UpdateTargetId = "popup-page",
                       LoadingElementId = "popup-loading",
                       Url = Url.Action("CreateApprover/" + NotificationHelper.poCode),
                       OnSuccess = "CenterPopup"
                   })
                    </center>
                }
		    @if (Model.Count() > 0)
      {                
                <b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Approver</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Approver</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.poCode && item.ActionType == NotificationHelper.approvalCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                        @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                        @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteApprover, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(1);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
      }
	    </div>
	    <div id="tabs-3">
		    <!-- REQUEST FOR PAYMENT -->
            <h4 style="text-align: center">@Resources.Global_String_RequestForPayment</h4>
            @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
            {                    
                <center>
                    @Ajax.ActionLink("[" + Resources.Global_String_AddNew + "]", "Index", new { id = NotificationHelper.rfpCode }, new AjaxOptions
                    {
                       OnBegin = string.Format("ShowDialogue('{0}')", Resources.Approver_ApproverList_NewApproverPopup),
                       UpdateTargetId = "popup-page",
                       LoadingElementId = "popup-loading",
                       Url = Url.Action("CreateApprover/" + NotificationHelper.rfpCode),
                       OnSuccess = "CenterPopup"
                    })
                </center>
            }
		    @if (Model.Count() > 0)
      {                
                <b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Review</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Reviewer</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.rfpCode && item.ActionType == NotificationHelper.reviewCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteReviewer, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(2);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
                <br /><b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Authorization</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_Authorizer</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.rfpCode && item.ActionType == NotificationHelper.authorizationCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteAuthorizer, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(2);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
                <br /><b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_FundPosting</b>
                <table class="cardTable">
                    <tr>
                        <th width="25%">@Resources.Approver_ApproverList_Limit</th><th width="25%">@Resources.Approver_ApproverList_FundPoster</th><th width="25%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="25%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.rfpCode && item.ActionType == NotificationHelper.postFundsCode)
                        {
                            <tr>
                                <td>@item.FinanceLimit.Name</td>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeletePoster, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(2);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
      }
	    </div>
        <div id="tabs-4">
		    <!-- GOODS RECEIVED NOTE -->
            <h4 style="text-align: center">@Resources.Global_String_GoodsReceivedNote</h4>
            @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
            {                    
                <center>
                    @Ajax.ActionLink("[" + Resources.Global_String_AddNew + "]", "Index", new { id = NotificationHelper.grnCode }, new AjaxOptions
               {
                   OnBegin = string.Format("ShowDialogue('{0}')", Resources.Approver_ApproverList_NewApproverPopup),
                   UpdateTargetId = "popup-page",
                   LoadingElementId = "popup-loading",
                   Url = Url.Action("CreateApprover/" + NotificationHelper.grnCode),
                   OnSuccess = "CenterPopup"
               })
                </center>
            }
		    @if (Model.Count() > 0)
      {                
                <b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Verification</b>
                <table class="cardTable">
                    <tr>
                        <th width="40%">@Resources.Approver_ApproverList_Verifier</th><th width="40%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="20%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.grnCode && item.ActionType == NotificationHelper.verificationCode)
                        {
                            <tr>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteVerifier, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(3);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
      }
	    </div>
	    <div id="tabs-5">
		    <!-- WAREHOUSE RELEASE ORDER -->
            <h4 style="text-align: center">@Resources.Global_String_WarehouseReleaseOrder</h4>
            @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
            {                    
                <center>
                    @Ajax.ActionLink("[" + Resources.Global_String_AddNew + "]", "Index", new { id = NotificationHelper.wrnCode }, new AjaxOptions
               {
                   OnBegin = string.Format("ShowDialogue('{0}')", Resources.Approver_ApproverList_NewApproverPopup),
                   UpdateTargetId = "popup-page",
                   LoadingElementId = "popup-loading",
                   Url = Url.Action("CreateApprover/" + NotificationHelper.wrnCode),
                   OnSuccess = "CenterPopup"
               })
                </center>
            }
		    @if (Model.Count() > 0)
      {                
                <b style="font-weight: bold">&nbsp;&nbsp;@Resources.Approver_ApproverList_Approval</b>
                <table class="cardTable">
                    <tr>
                        <th width="40%">@Resources.Approver_ApproverList_Approver</th><th width="40%">@Resources.Approver_ApproverList_Delegate</th>
                        @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                        {                    
                            <th width="20%">@Resources.Global_String_Manage</th>
                        }
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.ActivityCode == NotificationHelper.wrnCode && item.ActionType == NotificationHelper.approvalCode)
                        {
                            <tr>
                                <td title="@item.SystemUser.Staff.Designation.Name">
                                    @item.SystemUser.Staff.Person.FirstName &nbsp; @item.SystemUser.Staff.Person.OtherNames
                                </td>
                                <td title="@item.SystemUser1.Staff.Designation.Name">
                                    @item.SystemUser1.Staff.Person.FirstName &nbsp; @item.SystemUser1.Staff.Person.OtherNames
                                </td>
                                @if (UserContext.HasPermission(StandardPermissionProvider.ApproversManage))
                                {                    
                                    <td align="center">
                                            @Ajax.ActionLink(Resources.Global_String_Edit, "Index", new { id = "EditApprover" }, new AjaxOptions
                                       {
                                           OnBegin = "ShowDialogue('" + item.ActivityCode + " " + item.ActionType + "')",
                                           UpdateTargetId = "popup-page",
                                           LoadingElementId = "popup-loading",
                                           Url = Url.Action("EditApprover/" + item.Id)
                                       }) &nbsp;|&nbsp;
                                            @Ajax.ActionLink(Resources.Global_String_Delete, "Index", new { id = "DeleteApprover" }, new AjaxOptions
                                       {
                                           UpdateTargetId = "approverDiv",
                                           LoadingElementId = "loading",
                                           Url = Url.Action("DeleteApprover/" + item.Id),
                                           Confirm = string.Format(Resources.Approver_ApproverList_ConfirmDeleteApprover, item.SystemUser.Staff.Person.FirstName + " " + item.SystemUser.Staff.Person.OtherNames),
                                           OnSuccess = "initTabs(4);"
                                       })
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
      }
	    </div>
        <div id="tabs-6">
            <!-- COMPLETION CERTIFICATE -->
            @Html.Action("CCApprovers")
        </div>
        <div id="tabs-7">
            <!-- FINCANCE LIMITS -->
            @if (UserContext.HasPermission(StandardPermissionProvider.ApproversView))
            {               
                @Html.Action("ViewFinanceLimits")
            }
        </div>
        <div id="tabs-8">
            <!-- PARAMETER APPROVERS -->
            @Html.Action("ParamsApprovers")
        </div>
    </div>

}