@using SCMS.CoreBusinessLogic.Settings
@using SCMS.Resource

@model SCMS.UI.Areas.Admin.Models.SystemUser.SystemUserModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.OtherNames + " - " + Resources.SystemUser_EditProfile_SCMSUserProfile + " :: " + Resources.Global_String_Edit;
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
<div id="rfpMain" class="contentMain">
    <div class="contentHeader">
        <div class="headerText">
            <h3 class="title-left">@Resources.SystemUser_ViewProfile_EditProfile</h3>
        </div>
        <div style="font-size: 13px; text-align: left;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="arrowLink">
                        @Html.ActionLink(Resources.Global_String_MyProfile, "ViewProfile") 
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>                
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div id="loading" style="display: none; color: Blue; font-weight: bold;">
        <img src="@Url.Content("~/Content/images/loading_indicator.gif")" alt="@Resources.Global_String_Processing" />
    </div>
    <div id="AdminSystemUserDiv">
        <!-- Content goes here-->
        <div class="partialViewCard">
            <div class="partialViewCardHeader">
                <h3>
                    @Model.FirstName
                    @Html.Raw(" ")
                    @Model.OtherNames
                </h3>
            </div>
            <br />
                @using (Html.BeginForm("EditProfile", "SystemUser", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                {
                    @Html.Partial("EditProfileForm", @Model) 
                }
        </div>
    </div>
</div>