@using SCMS.Resource
@model SCMS.UI.Areas.Admin.Models.SystemUser.SwitchCPModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("SwitchCountryProgramme","SystemUser", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table>
        <tbody>            
            <tr>
                <td align="right">@Resources.Global_String_CountryProgramme<font color="red">*</font>:</td>
                <td>
                    @Html.DropDownListFor(model => model.CountryProgrammeId, Model.CountryProgrammes, Resources.Global_String_PleaseSelect, new { onchange = "javascript:getCPSuboffices(this)" })<br />
                    @Html.ValidationMessageFor(model => model.CountryProgrammeId, Resources.Global_String_Required)
                </td>
            </tr>
            <tr>
                <td align="right">@Resources.Global_String_CountrySubOffice<font color="red">*</font>:</td>
                <td id="cpSubOffices">
                    @Html.DropDownListFor(model => model.SubOfficeId, Model.SubOffices, Resources.Global_String_PleaseSelect)<br />
                    @Html.ValidationMessageFor(model => model.SubOfficeId, Resources.Global_String_Required)
                </td>
            </tr> 
            <tr>
                <td align="right"></td>
                <td>
                    <input type="submit" class="btn green" value="@Resources.Global_String_Switch" />
                </td>
            </tr>
        </tbody>
    </table>
}